

/* 

    background 
    1. background-color
    2. background-image
    3. background-repeat
    4. background-position
    5. background-attachment
    6. background-size

*/



#box{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: 50px;

    background-image: url(../../asset/images/cat05.jpg);
    /*                 width height                    */
    /* background-size: 400px 400px; */

        /* background-size: 400px auto; */
        /* background-size: auto 400px; */
    /* 위에처럼하지않고 키워드로 하는방법  */
        background-size: contain;
        /* background-size: cover; */

        background-repeat: no-repeat;
        background-position: center center;