



body{
    margin-bottom: 500px;
}




.box{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 30px
}


#box1 {
    background-color: tomato;
}

#box2{
    background-color: gold;
}

#box3{
    background-color: cornflowerblue;
}



/* 
    transform,변형
    - 위치, 배율, 회전, 왜곡
    1. translate(): 위치 변형(이동)
    2. scale(): 배율 변형(확대/축소)
    3. rotate(): 회전 변형
   --------------------------------------
    4. skew(): 왜곡(비틀기)
    5. matrix(): 사용자 정의형(1~4번) >행렬


*/


#box1 {
    /* position: relative; */
    /* transform: translate(100px,100px); */
       /* transform: scale(1.2,1); */
       /* width: 240px; */
       /* 양수는 시계방향 음수는 반대방향 */
       /* transform: rotate(-30deg); */
       /* transform: skew(0deg, 0deg); */
  
}


#box1:hover{
    /* transform: translate(0px, 50px); */
    /* transform: scale(1.2, 1.2) */
    transform: rotate(45deg);
}


#box2{
    transform: scale(1,1);
}


input[type=text] {
    font-size: 2rem;
    padding: 5px;
    outline: none;
    /* transform: rotate(180deg); */
    transform: scale(-1,1);

}


#cat > img:hover {
    /* transform: translate(0px, -20px); */
    /* transform: scale(1.2, 1.2); */
    transform: translate(0, -20px) scale(1.2, 1.2);
}


