/* ex44.css */

#main-menu > img, #side-menu > img, #footer-menu > img{
    transition-property: transform;
    transition-duration: .7s;
}



#main-menu {
    border: 0px solid black;
    font-size: 0;
    width: 630px;
    margin: 0 auto;
    transform: translate(0px, -100px)
}


/* #main-menu:hover {

    transform: translate(0px, -10px);

} */

/* 이미지 따로따로 내려오게하기 */
#main-menu > img:hover {
    transform: translate(0px, 90px);
}





#side-menu {
    border: 0px solid black;
    font-size: 0;
    width: 126px;
    /* margin: 0 auto; */
    transform: translate(-105px, 0px)
}


#side-menu > img:hover {
    transform: translate(90px, 0px)
}



#footer-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0px solid black;
    font-size: 0;
    width: 630px;
    margin: 0 auto;
    transform: translate(0px, 100px)
}

#footer-menu > img:hover{

    transform: translate(0px,-90px)
}
