/* ex45.css */

body { margin-bottom: 500px;
        border: 1px solid black;
}

body:hover #box2 {
    background-color: azure;    
}

.box {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 30px;
}

#box1 {
    background-color: tomato;
}

#box2 {
    background-color: gold;
}

#box3 {
    background-color: cadetblue;
}


body:hover #box2 {
    /* background-color: purple; */
    transform: rotate(45deg);


    /* 변화 중심축(열거형, %, px) */
    transform-origin: 100% 100%;


}

